colorcet==3.1.0
gpytorch==1.11
h5py==3.11.0
imbalanced_learn==0.12.3
imblearn==0.0
joblib==1.2.0
linear_operator==0.5.2
matplotlib==3.6.1
mne==1.6.0
numpy==1.23.5
pandas==1.5.3
plotly==5.18.0
pylatex==1.4.2
pytorch_lightning==2.3.0
pyxdf==1.16.6
PyYAML==6.0.1
scikit_learn==1.5.0
scipy==1.9.1
seaborn==0.13.2
statsmodels==0.14.0
torch==1.12.1
torcheeg==1.1.2
tqdm==4.64.1
xgboost==2.0.3
git+https://github.com/Navid-Ziaei/ieeg_data_loader.git
git+https://github.com/Navid-Ziaei/LDGD.git
